data/
.vscode
.DS_Store
__pycache__
pipeline/CCAM/model_saved/
pipeline/musk_processing/save_models/

pipeline/CCAM/example_img/
pipeline/CCAM/eval
pipeline/CCAM/class_specific_ccam/model_saved
pipeline/weak_sl/saved_models
visualizations/
pipeline/weak_sl/image_selection
data_with_crf_cam/
pipeline/CCAM/pretrained_model
pipeline/CAM/CAM_Img
pipeline/CAM/ECS_CAM_Img
pipeline/CCAM/class_specific_ccam/
pipeline/CAM/CAM_Img
pipeline/CAM/ECS_CAM_Img/model_saved
pipeline/CCAM/dog_cat_specific_ccam
pipeline/weak_sl/saved_models

